body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 600px;
    border: 2px solid;
    border-radius: 15px;
    gap: 12px;
}

.calculator, .buttons {
    background-color: rgb(214, 214, 214);
}

.screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 20%;
    border: 2px solid;
    padding-right: 20px;
}

.operations, .result{
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: right;
    justify-self: center;
}

.operations{
    height: 35%;
    padding-top: 10px;
    color: rgb(93, 93, 93);
}

.result{
    height: 65%;
    padding-top: 20px;
    font-size:xx-large;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 65%;
    /* border-color: black; */
    /* border-radius: 15px; */
}

.topButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    gap: 12px;
}

.clearBtn, .deleteBtn{
 width: 50%;
 height: 60px;
}
.clearBtn{
    background-color: rgb(255, 148, 148);
}
.deleteBtn{
    background-color: rgb(152, 138, 255);
}

.mainButtons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    width: 100%;
    height: 80%;
    padding: 8px;

}

.numberBtn, .operatorBtn, .clearBtn, .deleteBtn{
    border-radius: 12px;
    color: white;
    font-weight: 900;
}
.numberBtn{
    background-color: rgb(119, 119, 119);
}
.operatorBtn{
    background-color: rgb(74, 74, 74);
}
.clearBtn{
    font-size: 1em;
}
.deleteBtn{
    font-size: x-large;
}
